@import 'aqua-demo__globals';

.question__prompt {
	padding: 0.4em 0.2em 0.6em 0.2em;
	font-family: $font-body;
	font-size: 2.4em;
	font-weight: normal;
	text-align: left;
	color: black;
}

.question__options {
	display: table;
	margin: auto;
	margin-bottom: 1em;
	font-size: 2.8em;
	border-collapse: separate;
	border-spacing: 0em 0.3em;
}

.question__options__option {
	margin-bottom: 1em;
	display: table-row;
	vertical-align: middle;
	transition:	background-color 0.4s ease,
				fill 0.4s ease;
	background-color: transparent;
	fill: transparent;
	cursor: pointer;
}

.question__options__option:hover {
	background-color: lightGray;
}

.question__options__option__correctness {
	display: table-cell;
	padding-left: 0.4em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.question__options__option__correctness--correct,
.question__options__option__correctness--incorrect {
	transition: fill 0.4s ease;
}
.question__options__option__correctness--correct:hover {
	fill: $color-correct;
}
.question__options__option__correctness--incorrect:hover {
	fill: $color-incorrect;
}

.question__options__option__text {
	display: table-cell;
	padding-right: 0.4em;
	text-align: center;
	letter-spacing: -0.11em;
}
