/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
$font-title: "Insaniburger";
$font-body: "Insaniburger";

/* Palette */
$color-base:			#D555FF;
$color-base-light:		#E79DFF;
$color-base-dark:		#9121B2;
$color-accent:			#C7FF3F;
$color-accent-light:	#DCFF87;
$color-accent-dark:		#92C21C;
$color-correct:			#07D984;
$color-incorrect:		#D9504C;
