@import 'flat-circles__globals';

.home-buttons {
	display: table;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0.8em;
	
	&__button-container {
		display: table-row;
	}
}

.home-buttons__button {
	display: table-cell;
	padding: 0.3em 0.2em 0.3em 0.2em;
	border-radius: 10em/10em;
	color: $color-base-dark;
	background-color: transparent;
	cursor: pointer;
	transform: translate(0,0);
	
	font-family: $font-body;
	font-size: 2.4em;
	font-weight: normal;
	text-align: center;
	color: $color-base-dark;
	background-color: transparent;
	fill: black;
	cursor: pointer;
	
	transition:	color 0.4s ease,
				background-color 0.4s ease,
				transform 0.2s ease,
				box-shadow 0.2s ease,
				fill 0.4s ease;
}


.home-buttons__button__icon svg {
	width: 1em; height: 1em;
}

.home-buttons__button__text {
	padding: 0em 0.8em 0em 0.8em;
}
