@import 'flat-circles__globals';

.settings {
	display: table;
	position: relative;
	margin: auto;
	margin-left: 0.4em;
	border-collapse: separate;
	border-spacing: 0.2em;
	font-family: $font-body;
	font-size: 1.4em;
	font-weight: normal;
}

.settings__setting input[type=checkbox] {
	transform: scale(1.8);
}

.settings__submit-container input[type=submit] {
	border-radius: 10em/10em;
	background-color: white;
	padding: 0.15em 0.7em;
	margin-top: 0.2em;
	margin-left: 16vw;
	border: none;
	font-family: $font-body;
	font-size: 1.3em;
	font-weight: bold;
	color: $color-base-dark;
	transition:	transform 0.2s ease,
				color 0.4s ease,
				background-color 0.4s ease,
				box-shadow 0.2s ease;
}
