/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
/* Palette */
/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
/* Palette */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
.home-buttons {
  display: table;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0.8em; }
  .home-buttons__button-container {
    display: table-row; }

.home-buttons__button {
  display: table-cell;
  padding: 0.3em 0.2em 0.3em 0.2em;
  border-radius: 10em/10em;
  color: #9121B2;
  background-color: transparent;
  cursor: pointer;
  transform: translate(0, 0);
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
  color: #9121B2;
  background-color: transparent;
  fill: black;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease, fill 0.4s ease; }

.home-buttons__button__icon svg {
  width: 1em;
  height: 1em; }

.home-buttons__button__text {
  padding: 0em 0.8em 0em 0.8em; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.select-category-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal; }

.select-category-list__item {
  display: table-cell;
  padding: 0.18em 0.6em 0.18em 0.6em;
  border-radius: 100em/100em;
  cursor: pointer;
  transform: translate(0, 0);
  transition: color 0.4s ease, background-color 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease;
  color: #9121B2;
  background-color: transparent; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.start-quiz-confirmation {
  padding-top: 0.5em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1.8em;
  text-align: center;
  color: black;
  cursor: default; }

.start-quiz-confirmation__button {
  display: inline-block;
  padding: 0.1em 1em;
  font-weight: bold;
  border-radius: 10em/10em;
  transform: translate(0, 0);
  color: #9121B2;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease, fill 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.question__prompt {
  padding: 0.4em 0.2em 0.6em 0.2em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  text-align: left;
  color: black; }

.question__options {
  display: table;
  margin: auto;
  margin-bottom: 1em;
  font-size: 2.8em;
  border-collapse: separate;
  border-spacing: 0em 0.3em; }

.question__options__option {
  margin-bottom: 1em;
  display: table-row;
  vertical-align: middle;
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: transparent;
  fill: transparent;
  cursor: pointer; }

.question__options__option:hover {
  background-color: lightGray; }

.question__options__option__correctness {
  display: table-cell;
  padding-left: 0.4em;
  width: 1em;
  height: 1em;
  vertical-align: middle; }

.question__options__option__correctness--correct,
.question__options__option__correctness--incorrect {
  transition: fill 0.4s ease; }

.question__options__option__correctness--correct:hover {
  fill: #07D984; }

.question__options__option__correctness--incorrect:hover {
  fill: #D9504C; }

.question__options__option__text {
  display: table-cell;
  padding-right: 0.4em;
  text-align: center;
  letter-spacing: -0.11em; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.quiz-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.quiz-list__item {
  display: table-cell;
  padding: 0.2em 0.8em 0.2em 0.8em;
  border-radius: 10em/10em;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
  color: #9121B2;
  background-color: transparent; }

.quiz-list__item:hover {
  background-color: lightGray; }

.quiz-list__item:active {
  color: #C7FF3F;
  background-color: gray; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.quiz-response-list {
  display: table;
  position: relative;
  margin: auto;
  border-collapse: collapse;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.quiz-response-list__item {
  display: table-row;
  background-color: transparent;
  transition: background-color 0.4s ease; }

.quiz-response-list__item:nth-child(odd) {
  background-color: lightGray; }

.quiz-response-list__item:hover {
  background-color: #E79DFF; }

.quiz-response-list__item__prompt {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.5em; }

.quiz-response-list__item__prompt .katex {
  letter-spacing: -0.08em; }

.quiz-response-list__item__correctness {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1.5em;
  padding-right: 0.5em;
  height: 2.5em; }

.quiz-response-list__item__correctness svg {
  width: 1.2em;
  height: 1.2em;
  top: 0em; }

.quiz-response-list__item__correctness--correct {
  fill: #07D984; }

.quiz-response-list__item__correctness--incorrect {
  fill: #D9504C; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.category-performance-list {
  display: table;
  position: relative;
  table-layout: auto;
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.category-performance-list__item {
  display: table-row;
  background-color: transparent;
  transition: background-color 0.4s ease; }

.category-performance-list__item:nth-child(odd) {
  background-color: lightGray; }

.category-performance-list__item:hover {
  background-color: #E79DFF; }

.category-performance-list__item__name {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  padding: 0.15em 0.45em; }

.category-performance-list__item__progress {
  display: table-cell;
  width: auto;
  padding-left: 1.1em;
  padding-right: 0.55em;
  vertical-align: middle; }

.progress-bar {
  display: block;
  height: 1.1rem;
  width: auto;
  min-width: 10rem;
  margin: 0 auto;
  border-radius: 10em/10em;
  background-color: #9121B2; }

.progress-bar__inner {
  display: block;
  height: 100%;
  border-radius: 10em/10em;
  background-color: #D555FF; }

/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
/* Palette */
.settings {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.settings__setting input[type=checkbox] {
  transform: scale(1.8); }

.settings__submit-container input[type=submit] {
  border-radius: 10em/10em;
  background-color: white;
  padding: 0.15em 0.7em;
  margin-top: 0.2em;
  margin-left: 16vw;
  border: none;
  font-family: "Josefin Sans";
  font-size: 1.3em;
  font-weight: bold;
  color: #9121B2;
  transition: transform 0.2s ease, color 0.4s ease, background-color 0.4s ease, box-shadow 0.2s ease; }

/********* Header *********/
.screen__header {
  display: block;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: auto;
  cursor: default;
  z-index: 2; }

.nav-bar__title {
  text-align: center;
  display: block;
  position: fixed;
  width: 60rem;
  height: 60rem;
  margin: auto;
  margin-left: calc(50% - 30rem);
  margin-top: -55.8rem;
  transform: translate(5%, 0);
  line-height: 115.2rem;
  border-radius: 50%;
  background-color: #D555FF;
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
  word-spacing: -0.16rem;
  color: white; }

.icon-button {
  display: block;
  position: fixed;
  width: 3.4rem;
  height: 3.4rem;
  transform: translate(0, 0);
  box-shadow: 0.3rem 0.25rem 0.25rem gray;
  border: none;
  background-color: #C7FF3F;
  fill: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.15s ease, box-shadow 0.15s ease, fill 0.3s ease; }

.icon-button svg {
  width: 2.2em;
  height: 2.2em; }

.nav-bar .icon-button.left,
.icon-button.left.home {
  z-index: 3;
  width: 5.2rem;
  height: 5.2rem;
  top: 0rem;
  left: 0rem;
  transform: translate(-20%, -30%);
  margin: auto; }

.nav-bar .icon-button.left svg,
.icon-button.left.home svg {
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 2rem;
  padding-left: 1.6rem; }

.icon-button.right.delete {
  z-index: 3;
  width: 3.4rem;
  height: 3.4rem;
  top: 0rem;
  right: 0rem;
  transform: translate(45%, 65%);
  margin: auto; }

.icon-button.right.delete svg {
  width: 1.3rem;
  height: 1.3rem;
  padding-top: 0.95rem;
  padding-left: 0.5rem; }

.icon-button:hover {
  background-color: #92C21C;
  transform: translate(0.05rem 0.05rem);
  box-shadow: 0.25rem 0.2rem 0.15rem gray;
  fill: black; }

.icon-button:active {
  background-color: #9121B2;
  transform: translate(0.15rem 0.125rem);
  box-shadow: 0.15rem 0.125rem 0.1rem gray;
  fill: white; }

.icon-button.delete:active {
  background-color: #D9504C;
  fill: white; }

/********* Content ********/
a {
  text-decoration: none;
  cursor: default; }

.screen__content {
  margin: 4.5em 0.4em 1.2em 0.4em; }

.home-buttons__button:hover,
.select-category-list__item:hover,
.start-quiz-confirmation__button:hover,
.settings__submit-container input[type=submit]:hover {
  background-color: lightGray;
  transform: translate(0.1rem, 0.05rem);
  box-shadow: 0.5rem 0.45rem 0.35rem gray;
  fill: black; }

.home-buttons__button:active,
.select-category-list__item:active,
.start-quiz-confirmation__button:active,
.settings__submit-container input[type=submit]:active {
  color: #C7FF3F;
  background-color: gray;
  transform: translate(0.3rem, 0.25rem);
  box-shadow: 0.3rem 0.25rem 0.2rem gray;
  fill: #C7FF3F; }

/********* Footer *********/
.screen__footer {
  z-index: 1;
  display: block;
  position: fixed;
  width: 6.5rem;
  height: 8rem;
  bottom: 0em;
  left: 0em;
  border-radius: 0 3rem 0 0;
  text-align: center;
  background-color: #DCFF87;
  cursor: default; }

.quiz-info-bar__user {
  display: block;
  margin: auto;
  padding-top: 1.3rem;
  font-family: "Josefin Sans";
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #D555FF; }

.quiz-info-bar__progress {
  font-weight: bold; }

.icon-button.left.solution {
  position: fixed;
  display: absolute;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  bottom: 0rem;
  right: 0rem;
  transform: translate(-180%, -45%);
  margin: auto; }

.icon-button.left.solution svg {
  width: 1.9rem;
  height: 1.9rem;
  padding-top: 0.55rem;
  padding-left: 0.15rem; }

.icon-button.right.next {
  position: fixed;
  display: absolute;
  z-index: 1.5;
  width: 4.9rem;
  height: 4.9rem;
  bottom: 0rem;
  right: 0rem;
  transform: translate(-45%, -55%);
  margin: auto; }

.icon-button.right.next svg {
  width: 3.1rem;
  height: 3.1rem;
  padding-top: 0.85rem;
  padding-left: 0.45rem; }

.icon-button.next:active {
  background-color: #07D984;
  fill: white; }

/*# sourceMappingURL=flat-circles.css.map */
