/* Google Fonts: "Josefin Sans". Requesting both normal and bold. */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
/* Palette */
/********* Header *********/
.screen__header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  margin: auto;
  cursor: default;
  z-index: 2; }

.nav-bar__title {
  text-align: center;
  display: block;
  position: fixed;
  width: 60rem;
  height: 60rem;
  margin: auto;
  margin-left: calc(50% - 30rem);
  margin-top: -55.8rem;
  transform: translate(5%, 0);
  line-height: 115.2rem;
  border-radius: 50%;
  background-color: #D555FF;
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
  word-spacing: -0.16rem;
  color: white; }

.icon-button {
  display: block;
  position: fixed;
  width: 3.4rem;
  height: 3.4rem;
  transform: translate(0, 0);
  box-shadow: 0.3rem 0.25rem 0.25rem gray;
  border: none;
  background-color: #C7FF3F;
  fill: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.15s ease, box-shadow 0.15s ease, fill 0.3s ease; }

.icon-button svg {
  width: 2.2em;
  height: 2.2em; }

.nav-bar .icon-button.left {
  z-index: 3;
  width: 5.2rem;
  height: 5.2rem;
  top: 0rem;
  left: 0rem;
  transform: translate(-20%, -30%);
  margin: auto; }

.nav-bar .icon-button.left svg {
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 1rem;
  padding-left: 0.4rem; }

.icon-button:hover {
  background-color: #a9d936;
  transform: translate(0.05rem 0.05rem);
  box-shadow: 0.25rem 0.2rem 0.15rem gray;
  fill: black; }

.icon-button:active {
  background-color: #90b82e;
  transform: translate(0.15rem 0.125rem);
  box-shadow: 0.15rem 0.125rem 0.1rem gray;
  fill: #9121B2; }

.icon-button.delete:active {
  background-color: #D9504C; }

/********* Content ********/
a {
  text-decoration: none;
  cursor: default; }

.screen__content {
  margin: 4.5em 0.4em 4.5em 0.4em; }

.home-buttons {
  display: table;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0.8em; }

.home-buttons__button-container {
  display: table-row; }

.home-buttons__button {
  display: table-cell;
  padding: 0.8em 0.7em 0.8em 0.7em;
  border-radius: 50%;
  color: #9121B2;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0.6rem 0.5rem 0.4rem gray;
  transform: translate(0, 0);
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
  color: #9121B2;
  background-color: transparent;
  fill: black;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease, fill 0.4s ease; }

.home-buttons__button:hover {
  background-color: lightGray;
  transform: translate(0.1rem, 0.05rem);
  box-shadow: 0.5rem 0.45rem 0.35rem gray;
  fill: black; }

.home-buttons__button:active {
  color: #C7FF3F;
  background-color: gray;
  transform: translate(0.3rem, 0.25rem);
  box-shadow: 0.3rem 0.25rem 0.2rem gray;
  fill: #C7FF3F; }

.home-buttons__button__icon svg {
  width: 1em;
  height: 1em; }

.home-buttons__button__text {
  padding: 0em 0.4em 0em 0.4em; }

.select-category-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal; }

.select-category-list__item {
  display: table-cell;
  padding: 0.18em 0.6em 0.18em 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
  color: #0008B2;
  background-color: white; }

.select-category-list__item:hover {
  background-color: lightGray; }

.select-category-list__item:active {
  color: #FFCC00;
  background-color: gray; }

.start-quiz-confirmation {
  padding-top: 0.5em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1.8em;
  text-align: center;
  color: black;
  cursor: default; }

.start-quiz-confirmation__button {
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  font-weight: bold;
  color: #0008B2;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
  background-color: white; }

.start-quiz-confirmation__button:hover {
  background-color: lightGray; }

.start-quiz-confirmation__button:active {
  color: #FFCC00;
  background-color: gray; }

.question__prompt {
  padding: 0.4em 0.2em 0.6em 0.2em;
  font-family: "Josefin Sans";
  font-size: 2.4em;
  font-weight: normal;
  text-align: left;
  color: black; }

.question__options {
  display: table;
  margin: auto;
  margin-bottom: 1em;
  font-size: 2.8em;
  border-collapse: separate;
  border-spacing: 0em 0.3em; }

.question__options__option {
  margin-bottom: 1em;
  display: table-row;
  vertical-align: middle;
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: white;
  fill: white;
  cursor: pointer; }

.question__options__option:hover {
  background-color: lightGray; }

.question__options__option__correctness {
  display: table-cell;
  padding-left: 0.4em;
  width: 1em;
  height: 1em;
  vertical-align: middle; }

.question__options__option__correctness--correct {
  transition: fill 0.4s ease; }

.question__options__option__correctness--correct:hover {
  fill: green; }

.question__options__option__correctness--incorrect {
  transition: fill 0.4s ease; }

.question__options__option__correctness--incorrect:hover {
  fill: red; }

.question__options__option__text {
  display: table-cell;
  padding-right: 0.4em;
  text-align: center;
  letter-spacing: -0.11em; }

.quiz-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.quiz-list__item {
  display: table-cell;
  padding: 0.2em 0.8em 0.2em 0.8em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
  color: #0008B2;
  background-color: white; }

.quiz-list__item:hover {
  background-color: lightGray; }

.quiz-list__item:active {
  color: #FFCC00;
  background-color: gray; }

.quiz-response-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.quiz-response-list__item {
  display: table-row; }

.quiz-response-list__item__prompt .katex {
  letter-spacing: -0.08em; }

.quiz-response-list__item__correctness {
  display: inline-block;
  height: 2.5em; }

.quiz-response-list__item__correctness svg {
  width: 2em;
  height: 2em;
  top: 0em; }

.quiz-response-list__item__correctness--correct {
  fill: green; }

.quiz-response-list__item__correctness--incorrect {
  fill: red; }

.category-performance-list {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.settings {
  display: table;
  position: relative;
  margin: auto;
  margin-left: 0.4em;
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: "Josefin Sans";
  font-size: 1.4em;
  font-weight: normal; }

.settings__setting input[type=checkbox] {
  transform: scale(1.8);
  -webkit-transform: scale(1.8); }

.settings__submit-spacer {
  height: 0.8em; }

/********* Footer *********/
.screen__footer {
  display: block;
  position: fixed;
  width: auto;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 3.5em;
  padding: 0em 1.5em 0em 1.5em;
  background-color: #000BFF;
  border-top: 0.4em solid #0008B2;
  cursor: default;
  z-index: 1; }

.quiz-info-bar__user {
  display: block;
  margin: auto;
  padding-top: 0.4em;
  font-family: "Josefin Sans";
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #FFCC00; }

.quiz-info-bar__progress {
  font-weight: bold; }

.icon-button.next:active {
  background-color: green; }

/*# sourceMappingURL=flat-circles.css.map */

/*# sourceMappingURL=flat-circles.css.map */
