/* Palette:
 * 0008B2 - dark blue
 * 1924FF - light blue
 * 000BFF - blue
 * B28F00 - dark yellow
 * FFCC00 - yellow
 */

/********* Header *********/
.screen__header {
	display: block;
	position: fixed;
	width: auto;
	top: 0em;
	left: 0em;
	right: 0em;
	padding: 0em 1.5em 0em 1.5em;
	background-color: #000BFF;
	border-bottom: 0.4em solid #0008B2;
	cursor: default;
	z-index: 2;
}

.nav-bar__title {
	display: block;
	margin: auto;
	font-family: Open Sans;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 0.06em 0.04em 0 black;
	letter-spacing: 0.04em;
	word-spacing: -0.12em;
	text-align: center;
	vertical-align: top;
	color: #FFCC00;
}

.icon-button {
	display: inline-block;
	position: absolute;
	width: 3.4em;
	height: 3.4em;
	top: 0em;
	bottom: 0em;
	margin: auto;
	
	border: none;
	background-color: #FFCC00;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	
	transition: background-color 0.3s ease;
	
	cursor: pointer;
}
.icon-button.left {
	left: 1.2em;
}
.icon-button.right {
	right: 1.2em;
}
.icon-button:hover {
	background-color: #FFEE22;
}
.icon-button:active {
	background-color: #FFFFAA;
}
.icon-button.delete:active {
	background-color: red;
}

/********* Content ********/
a {
	text-decoration: none;
	cursor: default;
}

.screen__content {
	margin: 4.5em 0.4em 4.5em 0.4em;
}

.home-buttons {
	display: table;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0.4em;
}

.home-buttons__button-container {
	display: table-row;
}
.home-buttons__button {
	display: table-cell;
	font-family: Open Sans;
	font-size: 2.4em;
	font-weight: normal;
	text-align: center;
	
	transition: color 0.4s ease,
	            background-color 0.4s ease;
	color: #0008B2;
	background-color: white;
	
	cursor: auto;
}
.home-buttons__button:hover {
	background-color: lightGray;
}
.home-buttons__button:active {
	color: #FFCC00;
	background-color: gray;
}

.home-buttons__button__text {
	padding: 0em 0.4em 0em 0.4em;
}

.select-category-list {
	display: table;
	position: relative;
	margin: auto;
	margin-left: 0.4em;
	border-collapse: separate;
	border-spacing: 0.2em;
	font-family: Open Sans;
	font-size: 2.4em;
	font-weight: normal;
}

.select-category-list__item {
	display: table-cell;
	padding: 0.18em 0.6em 0.18em 0.6em;
	cursor: pointer;
	
	transition: color 0.4s ease,
	            background-color 0.4s ease;
	color: #0008B2;
	background-color: white;
}
.select-category-list__item:hover {
	background-color: lightGray;
}
.select-category-list__item:active {
	color: #FFCC00;
	background-color: gray;
}

.start-quiz-confirmation {
	padding-top: 0.5em;
	font-family: Open Sans;
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1.8em;
	text-align: center;
	color: black;
	cursor: auto;
}
.start-quiz-confirmation__button {
	font-weight: bold;
	color: #0008B2;
	
	transition: color 0.4s ease,
	            background-color 0.4s ease;
	background-color: white;
}
.start-quiz-confirmation__button:hover {
	background-color: lightGray;
}
.start-quiz-confirmation__button:active {
	color: #FFCC00;	
	background-color: gray;
}

.question__prompt {
	padding: 0.4em 0.2em 0.6em 0.2em;
	font-family: Open Sans;
	font-size: 2.4em;
	font-weight: normal;
	text-align: left;
	color: black;
}

.question__options {
	display: table;
	margin: auto;
	margin-bottom: 1em;
	font-size: 2.8em;
	border-collapse: separate;
	border-spacing: 0em 0.3em;
}

.question__options__option {
	margin-bottom: 1em;
	display: table-row;
	vertical-align: middle;
	
	transition: background-color 0.4s ease;
	background-color: white;
	
	cursor: pointer;
}
.question__options__option:hover {
	background-color: lightGray;
}

.question__options__option__correctness {
	display: table-cell;;
	padding-left: 0.4em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}
.question__options__option__correctness--correct {
	fill: green;
}
.question__options__option__correctness--incorrect {
	fill: red;
}

.question__options__option__text {
	display: table-cell;
	padding-right: 0.4em;
	text-align: center;
	letter-spacing: -0.11em;
}

/********* Footer *********/
.screen__footer {
	display: block;
	position: fixed;
	width: auto;
	bottom: 0em;
	left: 0em;
	right: 0em;
	height: 3.5em;
	padding: 0em 1.5em 0em 1.5em;
	background-color: #000BFF;
	border-top: 0.4em solid #0008B2;
	cursor: default;
	z-index: 1;
}

.quiz-info-bar__user {
	display: block;
	margin: auto;
	padding-top: 0.4em;
	font-family: Open Sans;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #FFCC00;
}
.quiz-info-bar__progress {
	font-weight: bold;
}

.icon-button.next:active {
	background-color: green;
}
